table {
    border-spacing: 20px;
}

td {
    width: 100px;
    height: 100px;
    background-color: black;
    cursor: pointer;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
}

#submit-name {
    margin-top: 150px;
}
