table {
    border-spacing: 20px;
}

td {
    width: 100px;
    height: 100px;
    background-color: black;
    cursor: pointer;
}

body {
    padding: 0px;
    margin: 0px;
}

#submit-name {
    margin-top: 100px;
}
