#game-container {
    display: none;
}

#game-board {

}

#game-table {
    width: 100%;
    border-collapse: separate;
}

#game-table tr td {
    background-color: black;
    width: 31%;
    margin: 1%;
    padding-bottom: 31%;
    display: inline-block;
    cursor: pointer;
}

.col {
    /* height: 30vh; */
    margin: 5px;
    background-color: black;
    cursor: pointer;
}

body {
    padding: 0px;
    margin: 0px;
}

#submit-name {
    margin-top: 100px;
}
